[Unit]
Description=Jumppad Connector

[Service]
WorkingDirectory=/root
ExecStart=/usr/local/bin/start-connector.sh

[Install]
WantedBy=multi-user.target